@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

#card {

  .frontCard {
    background: rebeccapurple;
    width: 100%;
    min-height: 150px;
    height: 100%;
    padding: 1vmin;
    border-radius: 5px;
    margin-bottom: 0.5vmin;

    display: flex;
    justify-content: space-between;

    //display: none;
    .fieldsCard {

      .inputFieldCard {

        display: flex;
        flex-direction: column;
        margin-bottom: 0.5vmin;

        .inputCardTitle {
          border: none;
          padding: 1vmin;
          border-radius: 5px;
          background: #1A1A34;
          color: #B5A4DD;
          width: 375px;
          font-size: 2vmin;
          margin-bottom: 0.5vmin;
          height: 40px;
        }

        .inputCardTitle:focus {
          outline: none;
        }

        .inputCardInput {
          height: 100px;
          border: none;
          padding: 1vmin;
          border-radius: 5px;
          background: #1A1A34;
          color: #B5A4DD;
          width: 375px;
          font-size: 2vmin;
        }

        .inputCardInput:focus {
          outline: none;
        }
      }

      .dateFieldCard {
        display: flex;
        justify-content: space-between;

        .dateFieldInput {
          border: none;
          padding: 1vmin;
          border-radius: 5px;
          background: #1A1A34;
          color: #B5A4DD;
          width: 185px;
          font-size: 2vmin;
        }

        .dateFieldInput:focus {
          outline: none;
        }
      }

    }

    // fieldsCard

    .buttonCards {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .buttonCardStyle {
        background: #B5A4DD;
        border-radius: 10px;
        padding: 1vmin;
        cursor: pointer;
        user-select: none;
        text-align: center;
      }
    }

    // buttonCard

  }

  // frontCard


  .backCard {
    background: rebeccapurple;
    width: 100%;
    height: 100%;
    padding: 1vmin;
    border-radius: 5px;
    margin-bottom: 0.5vmin;

    display: flex;
    justify-content: space-between;

    .contentCard {
      font-size: 2.2vmin;

      .contentCardTitle {
        font-family: 'Bangers', cursive;
        color: #B5A4DD;
        font-size: 3vmin;
        margin-bottom: 1vmin;
      }

      .contentCardDescription {
        margin-bottom: 1vmin;
      }

      .contentCardStart {
        font-family: 'Bangers', cursive;
        color: #B5A4DD;
        font-size: 2.5vmin;
      }

      .contentCardDue {
        font-family: 'Bangers', cursive;
        color: #B5A4DD;
        font-size: 2.5vmin;
      }
    }

    .buttonCard {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .buttonCardStyle {
        background: #B5A4DD;
        border-radius: 10px;
        padding: 1vmin;
        cursor: pointer;
        user-select: none;
        text-align: center;
      }
    }

  }

}