#columns {

  display: flex;
  justify-content: space-between;
  width: 80vw;

  .column {
    width: 500px;
    height: 80vh;
    border: #9D86D3 5px solid;
    border-radius: 10px;

    .upperPartColumn {
      display: flex;
      justify-content: space-between;
      padding: 1vmin;
      border-bottom: #B5A4DD 5px solid;

      .titleColumn {
        color: #B5A4DD;
        font-size: 3vmin;
        font-weight: 600;
      }

      .buttonColumn {
        background: #B5A4DD;
        color: black;
        border-radius: 10px;
        padding: 1vmin;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }

    .lowerPartColumn {
      .cardColumn {
        display: flex;
        padding: 0.5vmin;
        flex-direction: column;
      }
    }
  }
}
